# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/

# Build and packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Data files (optional)
data/raw/*.csv
